[Unit]
Description=Authentication daemon for CERNBox
After=syslog.target

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/var/log/cboxauthd
ExecStart=/usr/local/bin/cboxauthd
StandardOutput=null
StandardError=syslog

[Install]
WantedBy=multi-user.target

